name: Deploy to AWS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy CloudFormation stack
        run: |
          aws cloudformation deploy \
            --template-file infra/template.yaml \
            --stack-name playing-the-market-self \
            --capabilities CAPABILITY_NAMED_IAM \
            --parameter-overrides FrontendBucketName=playing-the-market-frontend-amandacot-1234

      - name: Sync frontend to S3
        run: |
          aws s3 sync frontend/ s3://playing-the-market-frontend-amandacot-1234 --delete

